option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    SECRET_KEY: kati-production-secret-key-2024
    PYTHONPATH: /var/app/current
    AWS_DEFAULT_REGION: ap-northeast-2
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /advanced_labels: advanced_labels
    /generated_documents: generated_documents
    /uploaded_labels: uploaded_labels
    /uploaded_templates: uploaded_templates 