packages:
  yum:
    gcc: []
    python3-devel: []
    libjpeg-devel: []
    zlib-devel: []
    freetype-devel: []
    lcms2-devel: []
    libwebp-devel: []
    tcl-devel: []
    tk-devel: []
    libffi-devel: []
    openssl-devel: []
    poppler-utils: []
    tesseract: []
    tesseract-langpack-kor: []
    tesseract-langpack-chi-sim: []
    tesseract-langpack-eng: []
    ghostscript: []
    imagemagick: []
    libpng-devel: []
    libtiff-devel: [] 