files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs {
          server 127.0.0.1:8001;
          keepalive 256;
      }
      
      server {
          listen 80;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto $scheme;
              proxy_cache_bypass      $http_upgrade;
              proxy_read_timeout      86400;
          }
          
          location /static/ {
              alias /var/app/current/static/;
              expires 30d;
              add_header Cache-Control "public, immutable";
          }
          
          location /advanced_labels/ {
              alias /var/app/current/advanced_labels/;
              expires 1d;
          }
          
          location /generated_documents/ {
              alias /var/app/current/generated_documents/;
              expires 1d;
          }
          
          location /uploaded_labels/ {
              alias /var/app/current/uploaded_labels/;
              expires 1d;
          }
          
          location /uploaded_templates/ {
              alias /var/app/current/uploaded_templates/;
              expires 1d;
          }
      } 