option_settings:
  aws:autoscaling:trigger:
    BreachDuration: 5
    LowerBreachScaleIncrement: -1
    LowerThreshold: 20
    MeasureName: CPUUtilization
    Period: 5
    UpperBreachScaleIncrement: 1
    UpperThreshold: 80
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced 